
<h1>ログイン</h1>
<form action="/login" method="POST">
  <label for="email">email:</label>
  <input type="text" name="email" id="email" />
  <label for="password">password：</label>
  <input type="password" name="password" id="password"/>

  <input type="submit" value="ログイン">
</form>