<form action="/users/:user_account/edit" method="POST">
  <label for="nickname">ニックネーム:</label>
  <input type="text" name="nickname" id="name" />
  <label for="profile">プロフィール：</label>
  <input type="profile" name="profile" id="profile"/>

  <input type="submit" value="更新">
</form>