<main>
  <div class="row">
    <aside class="col-sm-12">
      <div class="card">
        <article class="card-body">
          <h4 class="card-title text-center mb-4 mt-1">漫画投稿</h4>
          <hr>
          <p class="text-success text-center">Some message goes here</p>
          <form action="/comic" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fas fa-book-reader"></i> </span>
                </div>
                <input type="text" name="title" class="form-control" placeholder="タイトル">
              </div> <!-- input-group.// -->
            </div> <!-- form-group// -->
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fab fa-grunt"></i> </span>
                </div>
                <textarea type="text" name="bio" class="form-control" placeholder="ストーリー" wrap="hard" rows="3" cols="50"></textarea>
              </div> <!-- input-group.// -->
            </div> <!-- form-group// -->
            <%# 画像アップローダー %>
            <br>
            <div>
              <div id="btn1" class="btn btn-outline-primary" style="inline-block">1ページ目</div>
              <input class="input-image" type="file" name="page1" id="page1" accept="image/*"/>
              <input class="input-image" type="text" id="page1name" placeholder="選択されていません" readonly />

              <div id="btn2" class="btn btn-outline-primary" style="inline-block">2ページ目</div>
              <input class="input-image" type="file" name="page2" id="page2" accept="image/*"/>
              <input class="input-image" type="text" id="page2name" placeholder="選択されていません" readonly />

              <div id="btn3" class="btn btn-outline-primary" style="inline-block">3ページ目</div>
              <input class="input-image" type="file" name="page3" id="page3" accept="image/*"/>
              <input class="input-image" type="text" id="page3name" placeholder="選択されていません" readonly />

              <div id="btn4" class="btn btn-outline-primary" style="inline-block">4ページ目</div>
              <input class="input-image" type="file" name="page4" id="page4" accept="image/*"/>
              <input class="input-image" type="text" id="page4name" placeholder="選択されていません" readonly />
            </div>

            <br>
            <br>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> 送信する </button>
            </div> <!-- form-group// -->
          </form>
        </article>
      </div> <!-- card.// -->
    </aside>
  </div>
<main>

<script type="text/javascript">
  $(function() {
    $('#page1').css({
      'position': 'absolute',
      'top': '-9999px'
    }).change(function() {
      var val = $(this).val();
      var path = val.replace(/\\/g, '/');
      var match = path.lastIndexOf('/');
    $('#page1name').css("display","inline-block");
        $('#page1name').val(match !== -1 ? val.substring(match + 1) : val);
    });
    $('#page1name').bind('keyup, keydown, keypress', function() {
        return false;
    });
    $('#page1name, #btn1').click(function() {
        $('#page1').trigger('click');
    });

    $('#page2').css({
      'position': 'absolute',
      'top': '-9999px'
    }).change(function() {
      var val = $(this).val();
      var path = val.replace(/\\/g, '/');
      var match = path.lastIndexOf('/');
    $('#page2name').css("display","inline-block");
      $('#page2name').val(match !== -1 ? val.substring(match + 1) : val);
    });
    $('#page2name').bind('keyup, keydown, keypress', function() {
        return false;
    });
    $('#page2name, #btn2').click(function() {
        $('#page2').trigger('click');
    });

    $('#page3').css({
      'position': 'absolute',
      'top': '-9999px'
    }).change(function() {
      var val = $(this).val();
      var path = val.replace(/\\/g, '/');
      var match = path.lastIndexOf('/');
    $('#page3name').css("display","inline-block");
      $('#page3name').val(match !== -1 ? val.substring(match + 1) : val);
    });
    $('#page3name').bind('keyup, keydown, keypress', function() {
        return false;
    });
    $('#page3name, #btn3').click(function() {
        $('#page3').trigger('click');
    });

    $('#page4').css({
      'position': 'absolute',
      'top': '-9999px'
    }).change(function() {
      var val = $(this).val();
      var path = val.replace(/\\/g, '/');
      var match = path.lastIndexOf('/');
    $('#page4name').css("display","inline-block");
      $('#page4name').val(match !== -1 ? val.substring(match + 1) : val);
    });
    $('#page4name').bind('keyup, keydown, keypress', function() {
        return false;
    });
    $('#page4name, #btn4').click(function() {
        $('#page4').trigger('click');
    });
 });
</script>