<!DOCTYPE html>
<html lang="ja">
<head>
  <mata charset="utf-8">
  <title>簡易BBS by sinatra</title>

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
  <h1> 漫画投稿 </h1>

  <form action="/comic" method="POST" enctype="multipart/form-data">
    <input type="text", name="title", placeholder="タイトル"><br>
    <input type="text", name="bio", placeholder="ストーリー">
    <div>画像アップロード </div>
    <div>1ページ目</div>
    <input type="file" name="page1" accept="image/*"><br>
    <div>2ページ目</div>
    <input type="file" name="page2" accept="image/*"><br>
    <div>3ページ目</div>
    <input type="file" name="page3" accept="image/*"><br>
    <div>4ページ目</div>
    <input type="file" name="page4" accept="image/*"><br>

    <br>
    <input type="submit" value="送信する">
  </form>
</body>
