<form action="/signup" method="POST">
  <label for="nickname">ニックネーム:</label>
  <input type="text" name="nickname" id="name" />
  <label for="email">メール:</label>
  <input type="email" name="email" id="email" />
  <label for="password">パスワード：</label>
  <input type="password" name="password" id="password"/>
  <label for="password_confirm">パスワード確認：</label>
  <input type="password" name="password_confirm" id="password_confirm"/>
  <label for="profile">プロフィール：</label>
  <input type="profile" name="profile" id="profile"/>

  <input type="submit" value="サインアップ">
</form>