body {
  background: #eee url(http://subtlepatterns.com/patterns/sativa.png);
  margin-right: auto;
  margin-left : auto;
}

form img.thumb {
    margin:0 5px 5px 0;
    max-width:160px;
    vertical-align:bottom;
}

h1 {
  color: black;
}

.box8 {
    padding: 0.5em 1em;
    margin: auto;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
    width: 700px; max-width: 100%;
}
.box8 p {
    margin: 0;
    padding: 0;
}

.box10 {
    padding: 0.5em 1em;
    margin: auto;
    margin-bottom: 70px;
    color: #00BCD4;
    background: #e4fcff;/*背景色*/
    border-top: solid 6px #1dc1d6;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
    width: 600px; max-width: 100%;
}
.box10 p {
    margin: 0;
    padding: 0;
}

.input-image {
    background: none;
    box-shadow: none;
    border: none;
}

#btn {
  display: inline-block;
}