body {
  background: #eee url(http://subtlepatterns.com/patterns/sativa.png);
  margin-right: auto;
  margin-left : auto;
}

form img.thumb {
    margin:0 5px 5px 0;
    max-width:160px;
    vertical-align:bottom;
}

h1 {
  color: black;
}

.box8 {
    padding: 0.5em 1em;
    margin: auto;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
    width: 700px; max-width: 100%;
}
.box8 p {
    margin: 0;
    padding: 0;
}

.box10 {
    padding: 0.5em 1em;
    margin: auto;
    margin-bottom: 70px;
    color: #00BCD4;
    background: #e4fcff;/*背景色*/
    border-top: solid 6px #1dc1d6;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
    width: 600px; max-width: 100%;
}
.box10 p {
    margin: 0;
    padding: 0;
}

.input-image {
    background: none;
    box-shadow: none;
    border: none;
}

#btn {
  display: inline-block;
}

.modal.and.carousel {
  position: fixed;
}

/* モーダルウィンドウの縦表示位置を調整 */
.modal-middle {
 margin: 5% auto;
}

 /* 表示予定のテキストとボタンを中央揃え */
.modal-img_footer {
 padding: .5em;
 text-align: center;
}

.ribbon7 {
  display: inline-block;
  position: relative;
  padding: 15px 20px;
  font-size: 18px;/*フォントサイズ*/
  color: #FFF;/*フォントカラー*/
  background: #28A745;/*リボンの色*/
}

.ribbon7:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);/*折り返し部分*/
}

.ribbon14-wrapper {
  display: block;
  position: relative;
  margin: 15px auto;
  padding: 1px 0;
  width: 250px;
  background: #f1f1f1;
  box-sizing: border-box;
  }

.ribbon14 {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 10px;
  margin: 0;
  padding: 10px 0;
  z-index: 2;
  width: 40px;
  text-align: center;
  font-size: 17px;
  color: white;
  background: #28A745;
}

.ribbon14:after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  height: 0;
  width: 0;
  border-left: 20px solid #28A745;
  border-right: 20px solid #28A745;
  border-bottom: 10px solid transparent;
}
